/* HERO */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100vw;
  height: 40px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
}

.navbarGrid {
  display: grid;
  width: 1136px;
  grid-template-columns: repeat(3, 1fr);
}

.navbarItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 93.4px;
  height: 24px;
  fill: var(--color-primary-dark-25);
}

.navbarItem:nth-child(3) {
  justify-self: flex-end;
}

.navbarItem:nth-child(3) > ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.navbarLink {
  display: flex;
  justify-content: right;
  margin-left: 32px;
  flex-shrink: 0;
  color: var(--color-primary-dark-50);
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 24px;
  align-items: center;
}

.navbarLinkDrop {
  display: flex;
  justify-content: right;
  flex-direction: column;
  margin-left: 32px;
  flex-shrink: 0;
  color: var(--color-primary-dark-50);
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 24px;
  align-items: center;
}


.navbarLinkDrop > div {
  display: flex;
  height: 24px;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style: none;
  border-radius: 4px;
  background: var(--textColor);
  width: 200px;
  height: 192px;
  flex-shrink: 0;
  box-shadow: 0px 7px 64px 0px rgba(0, 0, 0, 0.07);
  position: relative;
  top: 10px;
  z-index: 999
  
}

.dropdownLink {
  display: flex;
  padding: 8px 20px 8px 0;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.dropdownLink:hover, .navbarLinkDrop > div:hover, .navbarLink:hover{
  color: var(--color-gold);
  cursor:pointer
}

.arrow{
  width: 24px;
  height: 24px;
}



.dropdownLink:last-child{
  border-top: 1px solid var(--color-gold-25);
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
