.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.title {
  color: var(--color-primary-dark-25);
  text-align: center;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 0;
}

.subtitleBox {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  box-sizing: border-box;
}

.subtitle {
  color: var(--color-primary-dark-50);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.subtitle > span {
  color: var(--color-gold);
}

.thumbs {
  height: 24px;
  width: 24px;
  fill: var(--color-gold);
  margin-right: 10px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  width: 752px;
}

.gridItem {
  display: flex;
  flex-direction: row;
  width: 752px;
  padding-bottom: 10px;
  justify-content: space-between;
}

.hasBorder {
    border-bottom: 1px solid var(--color-primary-dark-50);
  }

.image {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.testUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 656px;
  margin-top: 5px;
}

.name {
  color: var(--color-primary-dark-25);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.date {
  color: var(--color-primary-dark-50);
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.testimony {
  color: var(--color-primary-dark-25);
  font-size: 16px;
  line-height: 20px;
  width: 656px;
  margin-top: 10px;

}

.hasContent {
    padding-top: 15px;
    border-top: 1px solid var(--color-primary-dark-50);

  }

.response {
  color: var(--color-primary-dark-50);
  font-size: 16px;
  line-height: 20px;
  width: 656px;
  margin-top: 10px;
}

.equip {
  display: flex;
  flex-direction: row;
  width: 656px;
  margin: 10px 0;

}

.user {
  color: var(--color-gold);
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.userRole {
  color: var(--color-gold);
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.responseDate {
  color: var(--color-gold-25);
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.button {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid var(--color-neutral);
  background-color: transparent;
  align-items: center;
  margin-top: 20px;
}

.buttonText {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--textColor);
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
