@font-face {
  font-family: "Lato";
  src: url(../public/fonts/Lato-Regular.ttf);
}

:root {
  --background: #000;
  --textColor: white;
  --color-primary-dark: #1D1A05;
  --color-primary-dark-50: #858479;
  --color-primary-dark-25: #d8d7ce;
  --color-neutral: #f1f1f1;
  --color-line: #1d1a05;
  --color-gold: #c5af19;
  --color-gold-25: #f2ecc9;
  --color-neutral: #f6f4ef;
  --color-neutral-yellowish: #fbfaf7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato";
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}